.btn-all::after {
  content: "";
  position: absolute;
  top: 0;
  left: -100px;
  width: 50%;
  height: 100%;
  transform: rotate(80deg);
  background: linear-gradient(
    to right,
    rgba(159, 231, 245, 0.5),
    rgba(180, 240, 250, 0.5)
  );
  filter: blur(10px);
  transition: 0.6s ease-in-out;
}

/* Hover effects only on lg (1024px+) and xl screens */
@media (min-width: 1024px) {
  .btn-all:hover {
    text-shadow: 0px 5px 10px rgba(0, 0, 0, 0.562);
    transform: scale(1.01) translateY(-4px);
    box-shadow:
      inset 0px 0px 10px rgba(100, 180, 200, 0.575),
      0px 10px 20px rgba(100, 180, 200, 0.4);
  }

  .btn-all:hover::after {
    left: 100%;
  }
}
